{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    <title>Tool for Process Mining</title>

  <link href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!-- Custom styles for this template -->


  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

  <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">



</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">

      <div class="list-group list-group-flush">
        <div class="sidebar-heading"><img style='height: 100%; width:100%;object-fit: contain ' src="{% static 'images/PADSLOGO.png' %}"/> </div>
        <a href="/upload" class="list-group-item list-group-item-action bg-light">Event Data</a>
        <a href="/filter" class="list-group-item list-group-item-action bg-light">Pre-Processing</a>
        <a href="/trial" class="list-group-item list-group-item-action bg-light">Pattern Abstraction Test</a>
        <a href="/role_mining" class="list-group-item list-group-item-action bg-light">Conformance Checking</a>
        <a href="/coming_main" class="list-group-item list-group-item-action bg-light">Coming Soon...</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.pads.rwth-aachen.de/cms/~pnbx/PADS/?lidx=1">About US</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href=https://github.com/madhubs08/G6forPmFrontend>Project Link</a>
            </li>
            <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--Dropdown-->
              <!--</a>-->
              <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
                <!--<a class="dropdown-item" href="#">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
              <!--</div>-->
            <!--</li>-->
          </ul>
        </div>
      </nav>

      {% block content %}

      {% endblock %}

    </div>



    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'css/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'css/vendor/jquery/popper.min.js' %}"></script>
  <script src="{% static 'css/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Menu Toggle Script -->

  {% block script %}

  {% endblock %}

</body>

</html>