{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    <title>Tool for Process Mining</title>

  <link href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!-- Custom styles for this template -->


  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

  <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">



</head>

<body>

 


    <div >
        <div style="height:150px;width:100%" ><img style='height: 100%; width:100%;object-fit: contain ' src="{% static 'images/PADSLOGO.png' %}" /> </div>


        {% block content %}

        {% endblock %}

    </div>



    <!-- /#page-content-wrapper -->

  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'css/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'css/vendor/jquery/popper.min.js' %}"></script>
  <script src="{% static 'css/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Menu Toggle Script -->

  {% block script %}

  {% endblock %}

</body>

</html>