{% extends 'base.html' %}

{% block content  %}


<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"> </script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
</head>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="eventlogs-tab" data-toggle="tab" href="#eventlogs" role="tab" aria-controls="eventlogs" aria-selected="true">Event Logs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="n_eventlogs-tab" data-toggle="tab" href="#n_eventlogs" role="tab" aria-controls="n_eventlogs" aria-selected="false">None Event Logs</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="eventlogs" role="tabpanel" aria-labelledby="eventlogs-tab">

    <div class="container-fluid">
        <h3 class="mt-4" style="color:#00529F;">Event Logs</h3>
           <br>
        <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
                <form  name="load" action="" method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <p>Event log: <input type = "file" value="fileupload" name = "event_log" /></p>
                    <p><input type = "submit" class="btn btn-primary mb-2" value = "Upload EventLog" name = "uploadButton" id ='submitresEL' /></p>

                </form>
          </div>
        </div>

        <br>
        <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
                <form  name="choice" action="" method = "POST">
                    {% csrf_token %}

                    <select name="log_list" class="custom-select" size="10">
                        {% for eventlog in eventlog_list %}
                            <option value="{{eventlog}}">{{eventlog}}</option>
                        {% endfor %}
                    </select>

                    <input style="margin-top: 10px;" data-toggle="tooltip" data-placement="top" title="Set as the input" type = "submit" class="btn btn-success" value = "Set" name= "setButton" id ='setButton' />
                    <input style="margin-top: 10px;" type = "submit" class="btn btn-danger" value = "Delete" name= "deleteButton" id ='deleteButton'/>
                    <input style="float: right; margin-top: 10px;" type = "submit" class="btn btn-info" value = "Download" name= "downloadButton" id ='downloadButton'/>


                </form>
          </div>
        </div>
          <br>
         <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
            {% if log_name %}
              <p> {{log_name}} has been set as the input ... </p>
            {% endif %}
            {% for k,v in log_attributes.items %}
              {% if k == 'no_traces' %}
                <p id="no_trace"> No of traces: {{v}} </p>
              {% elif k == 'no_events' %}
                <p id="no_event"> No of events: {{v}} </p>
              {% elif k == 'dfg' %}
                <p id="dfg"> DFG: <pre>{{ v }}</pre> </p>
                <div id="mygraph"></div>
                {% block script %}
                    <script type="text/javascript">
                        G6.registerNode(
                          'sql',
                          {
                            drawShape(cfg, group) {
                              const rect = group.addShape('rect', {
                                attrs: {
                                  x: -75,
                                  y: -25,
                                  width: 150,
                                  height: 50,
                                  radius: 10,
                                  stroke: '#5B8FF9',
                                  fill: '#C6E5FF',
                                  lineWidth: 3,
                                },
                                name: 'rect-shape',
                              });
                              if (cfg.name ) {
                                group.addShape('text', {
                                  attrs: {
                                    text: cfg.name,
                                    x: 0,
                                    y: 0,
                                    fill: '#00287E',
                                    fontSize: 14,
                                    textAlign: 'center',
                                    textBaseline: 'middle',
                                    fontWeight: 'bold',
                                  },
                                  name: 'text-shape',
                                });
                              }
                              return rect;
                            },
                          },
                          'single-node',
                        );

                        const container = document.getElementById('mygraph');
                        const width = container.scrollWidth;
                        const height = container.scrollHeight || 500;
                        const graph = new G6.Graph({
                          container: 'mygraph',
                          width,
                          height,
                          layout: {
                            type: 'dagre',
                            nodesepFunc: (d) => {
                              if (d.id === '3') {
                                return 500;
                              }
                              return 50;
                            },
                            ranksep: 70,
                            controlPoints: true,
                          },
                          defaultNode: {
                            type: 'sql',
                          },
                          defaultEdge: {
                            type: 'polyline',
                            style: {
                              radius: 20,
                              offset: 45,
                              endArrow: true,
                              lineWidth: 2,
                              stroke: '#C2C8D5',
                            },
                            labelCfg: {
                                      style: {
                                        fontSize: 25,
                                        fontWeight: "bold"
                                      }
                                    },
                          },
                          nodeStateStyles: {
                            selected: {
                              stroke: '#d9d9d9',
                              fill: '#5394ef',
                            },
                          },
                          modes: {
                            default: [
                              'drag-canvas',
                              'zoom-canvas',
                              'click-select',
                              {
                                type: 'tooltip',
                                formatText(model) {
                                  const cfg = model.conf;
                                  const text = [];
                                  cfg.forEach((row) => {
                                    text.push(row.label + ':' + row.value + '<br>');
                                  });
                                  return text.join('\n');
                                },
                                offset: 30,
                              },
                            ],
                          },
                          fitView: true,
                        });
                        console.log('foo was there')
                        var var_data = "{{v}}";
                        var_data_parsed = JSON.parse(var_data.replace(/&quot;/g,'"'));
                        graph.data(var_data_parsed);
                        graph.render();

                        if (typeof window !== 'undefined')
                          window.onresize = () => {
                            if (!graph || graph.get('destroyed')) return;
                            if (!container || !container.scrollWidth || !container.scrollHeight) return;
                            graph.changeSize(container.scrollWidth, container.scrollHeight);
                          };

                        //var data = "{{data | escapejs}}";
                        //data = JSON.parse(data);

                    </script>
                {% endblock %}
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>

  </div>

  <div class="tab-pane fade" id="n_eventlogs" role="tabpanel" aria-labelledby="n_eventlogs-tab">

  <div class="container-fluid">
        <h3 class="mt-4" style="color:#00529F;">None Event Logs</h3>
        <br>
        <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
                <form  name="n_choice" action="upload_eventlog" method = "POST">
                    {% csrf_token %}

                    <select name="n_log_list" class="custom-select" size="10">
                        {% for n_eventlog in n_eventlog_list %}
                            <option value="{{n_eventlog}}">{{n_eventlog}}</option>
                        {% endfor %}
                    </select>

                    <input style="margin-top: 10px;" type = "submit" class="btn btn-danger" value = "Delete" name= "n_deleteButton" id ='n_deleteButton'/>
                    <input style="float: right; margin-top: 10px;" type = "submit" class="btn btn-info" value = "Download" name= "n_downloadButton" id ='n_downloadButton'/>

                </form>

          </div>
        </div>

      </div>

  </div>
</div>

{% if message %}
<script>
    alert({{message}})
</script>
{% endif %}

{% endblock %}