<style>

    .link {
        stroke: #000;
        stroke-width: 1.5px;
    }

    .node {
        cursor: move;
        fill: #ccc;
        stroke: #000;
        stroke-width: 1.5px;
    }

        .node.fixed {
            fill: #f00;
        }

    #mynetwork {
        width: 800px;
        height: 800px;
        background-color: #ffffff;
        border: 1px solid lightgray;
        position: relative;
        float: left;
    }


    .canvas {
        width: 800px;
        height: 800px;
    }
</style>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
</head>
{% extends 'base.html' %}

{% block content  %}


<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" type="text/css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.js"> </script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.7.1/dist/g6.min.js"></script>
</head>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="eventlogs-tab" data-toggle="tab" href="#eventlogs" role="tab" aria-controls="eventlogs" aria-selected="true">Event Logs</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="eventlogs" role="tabpanel" aria-labelledby="eventlogs-tab">

        <div class="container-fluid">
            <h3 class="mt-4" style="color:#00529F;">Event Logs</h3>
            <br>
            <div class="row">
                <div class=" col-sm-6 col-md-7 col-lg-8">
                    <form name="load" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <p>Event log: <input type="file" value="fileupload" name="event_log" /></p>
                        <p><input type="submit" class="btn btn-primary mb-2" value="Upload EventLog" name="uploadButton" id='submitresEL' /></p>

                    </form>
                </div>
            </div>

            <br>
            <div class="row">
                <div class=" col-sm-6 col-md-7 col-lg-8">
                    <form name="choice" action="" method="POST">
                        {% csrf_token %}

                        <select name="log_list" class="custom-select" size="10">
                            {% for eventlog in eventlog_list %}
                            <option value="{{eventlog}}">{{eventlog}}</option>
                            {% endfor %}
                        </select>
                        {% if log_name %}
                        <input style="margin-top: 10px;" type="button" class="btn btn-primary" value="Add Model" onclick="AddModel1()" id='AddModel' />
                        {% endif %}
                        {% if log_name == null %}
                        <input style="margin-top: 10px;" data-toggle="tooltip" data-placement="top" title="Set as the input" type="submit" class="btn btn-success" value="Set" name="setButton" id='setButton' />
                        <input style="margin-top: 10px;" type="submit" class="btn btn-danger" value="Delete" name="deleteButton" id='deleteButton' />
                        <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-info" value="Download" name="downloadButton" id='downloadButton' />
                        {% endif %}
                    </form>
                </div>
            </div>
            <br>
            {% if log_name %}
            <div id="DisplayGraph">

            </div>
            {% endif %}
            <!--

    <div class="row">
        <div class=" col-sm-6 col-md-7 col-lg-8">
            {% if log_name %}
            <p> {{log_name}} has been set as the input ... </p>
            {% endif %}
            {% for k,v in log_attributes.items %}
            {% if k == 'no_traces' %}
            <p id="no_trace"> No of traces: {{v}} </p>
            {% elif k == 'no_events' %}
            <p id="no_event"> No of events: {{v}} </p>
            {% elif k == 'dfg' %}
            <p id="dfg"> DFG: <pre>{{ v }}</pre> </p>
            {% elif k == 'g6' %}
            <p id="g6"> G6: <pre>{{ v }}</pre></p>
            {% endif %}
            {% endfor %}

        </div>
    </div> -->
        </div>

    </div>

    
</div>

{% if message %}
<script>
    alert({{message}})
</script>
{% endif %}
<script type="text/javascript">
    var clicks = 0;
    function AddModel1()
    {
        clicks += 1;
        debugger;
        // create a new div element
        const newDiv = document.createElement("div");
        newDiv.setAttribute("id", clicks);       
        newDiv.setAttribute("style", "border : 1px solid #000000; height: 400px; width: 70%;float:left;");
        const currentDiv = document.getElementById("DisplayGraph");
        const newDiv1 = document.createElement("div");
        newDiv1.setAttribute("id", "div");
        newDiv1.setAttribute("style", "border : 1px solid #000000; height: 400px; width: 30%;float:left;");
        document.body.appendChild(newDiv, currentDiv);
        document.body.appendChild(newDiv1, currentDiv);
    };

</script>


    <script type="text/javascript">

const data = {
   "nodes":[
      {
         "id":"node_0",
         "name":"Send Fine",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      },
      {
         "id":"node_1",
         "name":"Add penalty",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      },
      {
         "id":"node_2",
         "name":"Insert Date Appeal to Prefecture",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      },
      {
         "id":"node_3",
         "name":"Payment",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      },
      {
         "id":"node_4",
         "name":"Insert Fine Notification",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      },
      {
         "id":"node_5",
         "name":"Create Fine",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      },
      {
         "id":"node_6",
         "name":"Send Appeal to Prefecture",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      },
      {
         "id":"node_7",
         "name":"Send for Credit Collection",
         "conf":[
            {
               "label":"medain",
               "value":"10"
            },
            {
               "label":"mean",
               "value":"10"
            },
            {
               "label":"mode",
               "value":"10"
            }
         ]
      }
   ],
   "edges":[
      {
         "source":"node_5",
         "target":"node_0",
         "label":39,
         "style":{
            "lineWidth":8,
            "endArrow":true
         },
         "labelCfg":{
            "style":{
               "fontSize":39,
               "fontWeight":"bold"
            }
         }
      },
      {
         "source":"node_0",
         "target":"node_4",
         "label":32,
         "style":{
            "lineWidth":6,
            "endArrow":true
         }
      },
      {
         "source":"node_4",
         "target":"node_1",
         "label":31,
         "style":{
            "lineWidth":6,
            "endArrow":true
         }
      },
      {
         "source":"node_1",
         "target":"node_7",
         "label":22,
         "style":{
            "lineWidth":4,
            "endArrow":true
         }
      },
      {
         "source":"node_1",
         "target":"node_3",
         "label":9,
         "style":{
            "lineWidth":2,
            "endArrow":true
         }
      },
      {
         "source":"node_4",
         "target":"node_2",
         "label":1,
         "style":{
            "lineWidth":2,
            "endArrow":true
         }
      },
      {
         "source":"node_2",
         "target":"node_1",
         "label":1,
         "style":{
            "lineWidth":2,
            "endArrow":true
         }
      },
      {
         "source":"node_1",
         "target":"node_6",
         "label":1,
         "style":{
            "lineWidth":2,
            "endArrow":true
         }
      },
      {
         "source":"node_5",
         "target":"node_3",
         "label":12,
         "style":{
            "lineWidth":2,
            "endArrow":true
         }
      },
      {
         "source":"node_3",
         "target":"node_3",
         "label":2,
         "style":{
            "lineWidth":2,
            "endArrow":true
         }
      }
   ]
};

G6.registerNode(
  'sql',
  {
    drawShape(cfg, group) {
      const rect = group.addShape('rect', {
        attrs: {
          x: -75,
          y: -25,
          width: 150,
          height: 50,
          radius: 10,
          stroke: '#5B8FF9',
          fill: '#C6E5FF',
          lineWidth: 3,
        },
        name: 'rect-shape',
      });
      if (cfg.name ) {
        group.addShape('text', {
          attrs: {
            text: cfg.name,
            x: 0,
            y: 0,
            fill: '#00287E',
            fontSize: 14,
            textAlign: 'center',
            textBaseline: 'middle',
            fontWeight: 'bold',
          },
          name: 'text-shape',
        });
      }
      return rect;
    },
  },
  'single-node',
);

const container = document.getElementById('1');
const width = container.scrollWidth;
const height = container.scrollHeight;
const graph = new G6.Graph({
  container:'1',
  width,
  height,
  layout: {
    type: 'dagre',
    nodesepFunc: (d) => {
      if (d.id === '3') {
        return 500;
      }
      return 50;
    },
    ranksep: 70,
    controlPoints: true,
  },
  defaultNode: {
    type: 'sql',
  },
  defaultEdge: {
    type: 'polyline',
    style: {
      radius: 20,
      offset: 45,
      endArrow: true,
      lineWidth: 2,
      stroke: '#C2C8D5',
    },
    labelCfg: {
              style: {
                fontSize: 25,
                fontWeight: "bold"
              }
            },
  },
  nodeStateStyles: {
    selected: {
      stroke: '#d9d9d9',
      fill: '#5394ef',
    },
  },
  modes: {
    default: [
      'drag-canvas',
      'zoom-canvas',
      'click-select',
      {
        type: 'tooltip',
        formatText(model) {
          const cfg = model.conf;
          const text = [];
          cfg.forEach((row) => {
            text.push(row.label + ':' + row.value + '<br>');
          });
          return text.join('\n');
        },
        offset: 30,
      },
    ],
  },
  fitView: true,
});
graph.data(data);
graph.render();

                        if (typeof window !== 'undefined')
                          window.onresize = () => {
                            if (!graph || graph.get('destroyed')) return;
                            if (!container || !container.scrollWidth || !container.scrollHeight) return;
                            graph.changeSize(container.scrollWidth, container.scrollHeight);
                          };

                        //var data = "{{data | escapejs}}";
                        //data = JSON.parse(data);

    </script>

{% if message %}
<script>
    alert({{message}})
</script>
{% endif %}

    {% endblock %}
